html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #5b83ad;
}
div h2 {
  color: #b0d8ff;
}
div p {
  color: #fff;
}
